addict==2.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.12
fairscale==0.4.13
filelock==3.16.1
fonttools==4.57.0
fsspec==2025.3.0
huggingface-hub==0.30.2
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.11.0.86
packaging==25.0
pillow==10.4.0
platformdirs==4.3.6
pycocotools==2.0.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
safetensors==0.5.3
scipy==1.10.1
six==1.17.0
terminaltables==3.1.10
timm==1.0.15
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.2.3
yapf==0.31.0
zipp==3.20.2